.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
    display: none;
}
.box.has-advanced-upload {
    background-color: white;
    outline: 2px dashed #aaa;
    width: 100%;
    height: 150px;
    text-align: center;
    margin: 15px 0px;
}
.box.has-advanced-upload .box__dragndrop {
    display: inline;
    
}
.box.is-dragover {
    background-color: grey;
}
.box__file, .box__button {
    display: none;
}
label[for=file] {
    margin-top: 62px;
    display: inline-block;
}
.box.is-uploading .box__input {
    visibility: none;
}
.box.is-uploading .box__uploading {
    display: block;
}
.no-js .box__button {
    display: block;
}
main {
    width: 760px;
    margin: auto;
}
.input-text-wrap input, .textarea-wrap textarea {
    width: 100%;
}
.page-title-action {
    display: inline-block;
    vertical-align: top;
}
.prompt {
    left: 10px;
    top: 5px;
    color: #777;
}
.supplier-form-left {
    width: 430px;
    display: inline-block;
    vertical-align: top;
}
.supplier-form-right {
    width: 280px;
    display: inline-block;
    margin-left: 8px;
}
.supplier-form-right label {
    display: block;
}
.supplier-form-right input[type=text] {
    width: 74%;
}
#supplier_tags li {
    margin: 2px;
}
#supplier_tags li a {
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    border-radius: 50%;
    display: inline-block;
    padding: 3px;
    line-height: 8px;
    height: 8px;
    width: 8px;
    text-align: center;
    margin-left: 5px;
}
.supplier-info {
    border: 1px solid #ccc;
    padding: 5px;
}
.step-2 {
    display: none;
}
.step-2 ul li {
    width: 150px;
    height: 150px;
    display: inline-block;
    vertical-align: middle;
}
.step-2 ul li input[type=file] {
    display: none;
}
.step-2 ul li label {
    width: 150px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    padding: 67px 0px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.supplier-form-left fieldset {
    border: 1px solid #ccc;
    padding: 10px;
}
.supplier-form-left fieldset ul li label {
    display: inline-block;
    width: 100px;
    vertical-align: top;
}
.supplier-form-left fieldset ul li input[type=text] {
    width: 302px;
}
.supplier-brochure label {
    border: 2px dashed #999;
    width: 280px;
    height: 74px;
    line-height: 14px;
    font-size: 14px;
    text-align: center;
    padding: 30px 0px;
    border-radius: 6px;
    box-sizing: border-box;
    color: #999;
    font-weight: bold;
}
.supplier-brochure label:hover {
    color: #000;
    border-color: #000;
}
.supplier-brochure input[type=file] {
    display: none;
}
.supplier-brochure fieldset {
    border: 1px solid #ccc;
    margin: 20px 0px;
    padding: 5px;
}
.supplier-brochure fieldset input[type=text] {
    width: 230px;
}
.supplier-brochure fieldset input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #aaa;
    font-style: italic;
}
.supplier-brochure fieldset input[type=text]::-moz-placeholder { /* Firefox 19+ */
    color: #aaa;
    font-style: italic;
}
.supplier-brochure fieldset input[type=text]:-ms-input-placeholder { /* IE 10+ */
    color: #aaa;
    font-style: italic;
}
.supplier-brochure fieldset input[type=text]:-moz-placeholder { /* Firefox 18- */
    color: #aaa;
    font-style: italic;
}
.supplier-brochure fieldset ul {
    height: 140px;
    overflow-y: auto;
}
.supplier-brochure fieldset ul li {
    display: inline-block;
}
.supplier-brochure fieldset ul li a {
    vertical-align: bottom;
}
.supplier-brochure fieldset ul li a svg {
    opacity: 0.5;
}
.card {
    display: inline-block;
    vertical-align: top;
    margin: auto;
    width: auto;
}
.card aside {
    width: 130px;
    display: inline-block;
}
.card .image-title {
    border-color: transparent;
    font-size: 13px;
    font-weight: bolder;
    color: #000;
    width: 130px;
}
.card .image-title:hover {
    border-color: #ccc;
}
.card .image-title:focus {
    border-color: #aaa;
}
.card fieldset {
    border: 1px solid #ccc;
    width: 184px;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
}
.card fieldset input {
    width: 140px;
}
#supplier_tags .page-title-action {
    color: #777;
    font-weight: normal;
    font-size: 12px;
}
#supplier_tags .page-title-action:hover {
    color: #fff;
}